@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', sans-serif;
}

@layer components {
  .menu-button {
    --inactive-radius: 100px;
    --active-radius: 5px;

    .icon {
      transition-duration: 0.4s;
      transition-delay: 0;
      transition-timing-function: linear;
    }

    &.active {
      .icon {
        border-radius: var(--active-radius);
      }
    }

    &.inactive {
      .icon {
        border-radius: var(--inactive-radius);
        &:hover {
          border-radius: var(--active-radius);
        }
      }
    }
  }

  .timer-button {
    @apply border rounded-md px-2 py-1 border-b-4 bg-red-200 disabled:bg-gray-300 hover:border-b-red-300 hover:text-red-400 disabled:hover:text-black disabled:hover:border-gray-200;
  }
}
